$orange-color: rgba(252, 90, 44, 0.89);

/* -- General Styles ------------------------ */
html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arial';
  font-weight: 300;
}

.layout-container {
  height: 92%;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $orange-color;
  color: #fff;
  padding: 5px;
  .header-title {
    font-weight: 100;
    margin:0;
  }
  .header-ui {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    align-self: right;
  }
}

.home-container {
  background-image: url('./../images/pattern.svg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  h1{
    color: #fff;
    font-weight: 100;
  }
  .home-ui {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    align-self: right;
  }
}

.forecast-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #933;


  li a:hover {
    text-decoration-style: none;
  }

  li {
    list-style: none;
    border: 1px solid $orange-color;
    padding: 10px;
    margin: 10px;
    h2 {
      font-weight: 100;
    }
  }

}
